<html>
  <head>
    <title>Ola's blog</title>
  </head>
  <body>
    <div>
      <h1>A heading</h1>
      <h2>A sub-heading</h2>
    </div>

    <div>
      <em>hello!</em>
      <br>
      <strong>bye!</strong>
      <br>
    </div>

    <div>
      <em>hi!</em>
      <br>Hi there!<br>
    </div>

    <div>
      <a href=https://djangogirls.org>click me</a>
      <br>It works!<br>
      <ul><li>first item</li><li>second item</li></ul>
    </div>
  </body>
</html>

<html>
    <head>
        <title>Ola's blog</title>
    <body>
        <h1>This is a heading</h1>
            <a href=https://djangogirls.org>clickme</a>
        <br><h2><em>It works!<em></h2>
        <div>
            <p>This is just a normal paragraph</p>
        </div>
